@media (min-width: 954px){

    #main{
      width: 100%;
      grid-template-rows: 150px 150px;
    }  

    #toptitle{
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px){

    .roundOf16-matches{
        width: 350px;
    }

    #final{

        width:350px
    }

    #champion {
        width: 400px;
    }

}


@media (max-width: 425px) {

#main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.tips{
    text-align: center;
}

#elimination{
    display: block;
    /* grid-template-columns: 100%; */
    
}

.groups{
    width: 90%;
}

}

@media (max-width: 375px){

    #main{
        grid-template-columns:1fr;
        width: 90%;
    }

}

